This notebook will test the SQL in sql_queries.py on single files to ensure that the code is working as intended before executing

In [23]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import boto3

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Connect to Redshift DWH

In [24]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")
DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_ROLE_ARN= config.get("IAM_ROLE","ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_PATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

#### Test Create Table SQL Queries

In [4]:
%%sql
DROP TABLE IF EXISTS staging_events;
CREATE TABLE IF NOT EXISTS staging_events
(
    artist          VARCHAR(50),
    auth            VARCHAR(20),
    firstName       VARCHAR(50),
    gender          VARCHAR(1),
    itemInSession   INTEGER,
    lastName        VARCHAR(50),
    length          FLOAT,
    level           VARCHAR(4),
    location        VARCHAR,
    method          VARCHAR(3),
    page            VARCHAR(8),
    registration    FLOAT,
    sessionId       INTEGER,
    song            VARCHAR(50),
    status          INTEGER,
    ts              BIGINT,
    userAgent       VARCHAR,
    userId          INTEGER
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS staging_songs;
CREATE TABLE IF NOT EXISTS staging_songs
(
    num_songs           INTEGER,
    artist_id           VARCHAR(18),
    artist_latitude     FLOAT,
    artist_longitude    FLOAT,
    artist_location     VARCHAR,
    artist_name         VARCHAR(50),
    song_id             VARCHAR(18),
    title               VARCHAR(50),
    duration            FLOAT,
    year                INT
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS fact_songplay;
CREATE TABLE IF NOT EXISTS fact_songplay
(
    songplay_id    INTEGER IDENTITY(0,1),
    start_time     TIMESTAMP,
    user_id        INTEGER sortkey distkey,
    level          VARCHAR(4),
    song_id        VARCHAR(18),
    artist_id      VARCHAR(18),
    session_id     INTEGER,
    location       VARCHAR,
    user_agent     VARCHAR
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS dim_users;
CREATE TABLE IF NOT EXISTS dim_users
(
    user_id       INTEGER PRIMARY KEY sortkey distkey,
    first_name    VARCHAR(50),
    last_name     VARCHAR(50),
    gender        VARCHAR(1),
    level         VARCHAR(4)
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS dim_songs;
CREATE TABLE IF NOT EXISTS dim_songs
(
    song_id        VARCHAR(18) PRIMARY KEY,
    title          VARCHAR(50),
    artist_id      VARCHAR(18) sortkey distkey,
    year           INTEGER,
    duration       FLOAT
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS dim_artists;
CREATE TABLE IF NOT EXISTS dim_artists
(
    artist_id      VARCHAR(18) PRIMARY KEY sortkey distkey,
    name           VARCHAR(50),
    location       VARCHAR,
    lattitude      FLOAT,
    longitude      FLOAT
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS dim_time;
CREATE TABLE IF NOT EXISTS dim_time
(
    start_time     TIMESTAMP PRIMARY KEY sortkey distkey, 
    hour           INTEGER, 
    day            INTEGER, 
    week           INTEGER, 
    month          INTEGER, 
    year           INTEGER, 
    weekday        INTEGER
);

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Test copying data to the events staging table

In [11]:
# Look at the data in the log_data directory of the S3 bucket
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [12]:
# Try to copy one json file
staging_events_copy = ("""
    copy {} from 's3://udacity-dend/log_data/2018/11/2018-11-01-events.json'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    FORMAT AS JSON 's3://udacity-dend/log_json_path.json';
""").format('staging_events', DWH_ROLE_ARN)

In [28]:
%sql $staging_events_copy

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [29]:
%%sql
SELECT *
FROM staging_events
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('The Gerbils', 'Logged In', 'Martin', 'M', 0, 'Johnson', 27.01016, 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'PUT', 'NextSong', 1541081807796.0, 250, '(iii)', 200, 1541480171796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 55),
 ('AFI', 'Logged In', 'Martin', 'M', 1, 'Johnson', 190.45832, 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'PUT', 'NextSong', 1541081807796.0, 250, "Girl's Not Grey", 200, 1541480198796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 55),
 (None, 'Logged In', 'Jordan', 'F', 0, 'Hicks', None, 'free', 'Salinas, CA', 'GET', 'Home', 1540008898796.0, 240, None, 200, 1541480984796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 37),
 ('Lhasa De Sela', 'Logged In', 'Jordan', 'F', 1, 'Hicks', 256.10404, 'free', 'Salinas, CA', 'PUT', 'NextSong', 1540008898796.0, 240, 'De cara a la pared', 200, 1541481077796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 37),
 ('J.J. Cale', 'Logged In', 'Jordan', 'F', 2, 'Hicks', 150.80444, 'free', 'Salinas, CA', 'PUT', 'NextSong', 1540008898796.0, 240, 'Crazy Mama', 200, 1541481333796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 37)]

#### Test copying data to the songs staging table

In [15]:
staging_songs_copy = ("""
    copy {} from '{}'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    FORMAT AS JSON 'auto';
""").format('staging_songs', 's3://udacity-dend/song_data/A/B/C/TRABCEI128F424C983.json', DWH_ROLE_ARN)

In [16]:
%sql $staging_songs_copy

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [17]:
%%sql
SELECT *
FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1, 'ARJIE2Y1187B994AB7', None, None, '', 'Line Renaud', 'SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 152.92036, 0)]

#### Test inserting the data and creating the schema

In [ ]:
%%sql
INSERT INTO fact_songplay(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT DISTINCT TIMESTAMP 'epoch' + se.ts/1000 * INTERVAL '1 second' AS start_time,
                se.userId AS user_id,
                se.level AS level,
                ss.song_id AS song_id,
                ss.artist_id AS artist_id,
                se.sessionId AS session_id,
                se.location as location,
                se.userAgent as user_agent
FROM staging_events as se
JOIN staging_songs as ss ON se.song = ss.title AND se.artist = ss.artist_name;

In [19]:
%%sql
INSERT INTO dim_users(user_id, first_name, last_name, gender, level)
SELECT DISTINCT se.userId AS user_id,
                se.firstName AS first_name,
                se.lastName AS last_name,
                se.gender AS gender,
                se.level AS level
FROM staging_events as se
WHERE user_id IS NOT NULL;

SELECT *
FROM dim_users
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.
5 rows affected.

[(8, 'Kaylee', 'Summers', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (39, 'Walter', 'Frye', 'M', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free')]

In [20]:
%%sql
INSERT INTO dim_songs(song_id, title, artist_id, year, duration)
SELECT DISTINCT ss.song_id AS song_id,
                ss.title AS title,
                ss.artist_id AS artist_id,
                ss.year AS year,
                ss.duration AS duration
FROM staging_songs as SS
WHERE song_id IS NOT NULL;

SELECT *
FROM dim_songs
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
1 rows affected.

[('SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7', 0, 152.92036)]

In [21]:
%%sql
INSERT INTO dim_artists(artist_id, name, location, lattitude, longitude)
SELECT DISTINCT ss.artist_id AS artist_id,
                ss.artist_name AS name,
                ss.artist_location AS location,
                ss.artist_latitude AS lattitude,
                ss.artist_longitude AS longitude
FROM staging_songs as SS
WHERE artist_id IS NOT NULL;

SELECT *
FROM dim_artists
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
1 rows affected.

[('ARJIE2Y1187B994AB7', 'Line Renaud', '', None, None)]

In [22]:
%%sql
INSERT INTO dim_time(start_time, hour, day, week, month, year, weekday)
SELECT DISTINCT TIMESTAMP 'epoch' + se.ts/1000 * INTERVAL '1 second' AS start_time,
               EXTRACT(hour from start_time) as hour,
               EXTRACT(day from start_time) as day,
               EXTRACT(week from start_time) as week,
               EXTRACT(month from start_time) as month,
               EXTRACT(year from start_time) as year,
               EXTRACT(weekday from start_time) as weekday
FROM staging_events AS se
WHERE start_time IS NOT NULL;

SELECT * 
FROM dim_time
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
14 rows affected.
10 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 2, 12), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 42), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 22, 23, 14), 22, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 24, 53), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 28, 54), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 20, 57, 10), 20, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 50, 15), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 52, 5), 21, 1, 44, 11, 2018, 4)]