Post ETL run, this notebook inspects the data in the queries

In [6]:
import configparser
%load_ext sql

#### Connect to Redshift

In [7]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")
DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_ROLE_ARN= config.get("IAM_ROLE","ARN")

In [8]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [9]:
%%sql
SELECT *
FROM fact_songplay
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(37, datetime.datetime(2018, 11, 7, 15, 16, 17), 2, 'free', 'SOTJEIC12A8C139054', 'AR0OTEX1187FB3600D', 323, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (283, datetime.datetime(2018, 11, 6, 16, 38, 15), 2, 'free', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 126, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (172, datetime.datetime(2018, 11, 26, 13, 47, 35), 40, 'free', 'SOZYHNC12A8C13B9D0', 'AR5Z97E1187FB36169', 874, 'Oxnard-Thousand Oaks-Ventura, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (0, datetime.datetime(2018, 11, 29, 2, 36, 13), 54, 'free', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 951, 'Yuba City, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (105, datetime.datetime(2018, 11, 5, 5, 57, 5), 57, 'free', 'SOCGOZK12A8151BD5D', 'ARM0P6Z1187FB4D466', 56, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (205, datetime.datetime(2018, 11, 22, 13, 21, 21), 63, 'free', 'SOLWQQJ12A8C13A2BD', 'ARDOL0J1187B9AC52A', 785, 'Santa Rosa, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (267, datetime.datetime(2018, 11, 11, 15, 0, 37), 67, 'free', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 414, 'Nashville-Davidson--Murfreesboro--Franklin, TN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (292, datetime.datetime(2018, 11, 24, 12, 30, 39), 67, 'free', 'SOSNMJN12A58A7A649', 'AR3TRNJ1187B9AE8AB', 807, 'Nashville-Davidson--Murfreesboro--Franklin, TN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (95, datetime.datetime(2018, 11, 5, 18, 13, 57), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (207, datetime.datetime(2018, 11, 28, 22, 32, 42), 73, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [10]:
%%sql
SELECT *
FROM dim_users
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (40, 'Tucker', 'Garrison', 'M', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (59, 'Lily', 'Cooper', 'F', 'free'),
 (63, 'Ayla', 'Johnson', 'F', 'free'),
 (67, 'Colm', 'Santana', 'M', 'free'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (95, 'Sara', 'Johnson', 'F', 'paid')]

In [11]:
%%sql
SELECT *
FROM dim_songs
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOOQFMH12AB0185909', 'Spring Collection', 'AR026PU1187FB43FD9', 1980, 173.45261),
 ('SOJVJWA12A6D4F7381', 'Sixty Second Interval', 'AR026PU1187FB43FD9', 1980, 232.48934),
 ('SOAEEXM12A8C13D6E3', 'Fuckaz', 'AR040M31187B98CA41', 2008, 327.99302),
 ('SOMOSOM12A8C13D618', 'Judgement', 'AR040M31187B98CA41', 2008, 309.28934),
 ('SOQBIAT12A8C13E02C', 'New Resolution (Album Version)', 'AR040RJ1187FB4D2AB', 2003, 203.4673),
 ('SORBTTM12A8C13FFE1', 'Bruised', 'AR04PRW1187FB4D60D', 2003, 274.54649),
 ('SOXUUGQ12A6D4FC577', 'Techno Kid', 'AR05UYB1187B99B90F', 2003, 376.99873),
 ('SOCLFNX12A8C144A03', 'Mediocre (Version original)', 'AR061J011A348F060F', 0, 218.04363),
 ('SOJQHWI12B0B80BBC7', 'Record Companies', 'AR065TW1187FB4C3A5', 1998, 266.44853),
 ('SOAOVYG12AB0183290', 'How High', 'AR065TW1187FB4C3A5', 2003, 194.84689)]

In [12]:
%%sql
SELECT *
FROM dim_artists
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None),
 ('AR035N21187FB3938E', 'BT', 'Earth', 34.23294, -102.4102),
 ('AR03BDP1187FB5B324', 'Britney Spears', 'Kentwood, LA; Los Angeles, CA', 34.05349, -118.24532),
 ('AR03BDP1187FB5B324', 'Britney Spears feat. Pharrell Williams', 'Kentwood, LA; Los Angeles, CA', 34.05349, -118.24532),
 ('AR04ZDS1187B98C504', 'Stuck In The Sound', '', None, None),
 ('AR0693R1187FB59D32', 'Dusminguet', '', None, None),
 ('AR06IFV1187B9977EC', 'MU330', 'St. Louis, MO', None, None),
 ('AR06NFT1187B9B2902', 'The Ike Reilly Assassination', '', None, None)]

In [13]:
%%sql
SELECT * 
FROM dim_time
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c5gtifxujhva.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 34, 17), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 26, 49), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 2, 20), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 11, 24), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 13, 59), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 19, 18), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 29, 6), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 47, 41), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 27, 44), 11, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 11, 43, 19), 11, 2, 44, 11, 2018, 5)]